.event-inazuma {
  background-image: url('../../../Assets/backgrounds/locations/inazuma/inazuma-pb.jpg');
}

.event-inazuma:hover {
  background-image: url('../../../Assets/backgrounds/locations/inazuma/inazuma-cl.jpg');
}

.active.event-inazuma {
  background-image: url('../../../Assets/backgrounds/locations/inazuma/inazuma-cl.jpg');
}

.event-green {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(30, 241, 164, 0.1) 100%);
}

.event-blue {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(69, 30, 241, 0.1) 100%);
}

.event-indigo {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--myindigo-40) 100%);
}

.char-yae {
  background-image: url('../../../Assets/Character/Yaemiko/yaemiko-full.png');
}

.char-nilou {
  background-image: url('../../../Assets/character/nilou/nilou.png');
}

.char-hutao {
  background-image: url('../../../Assets/character/hutao/hutao.png');
}

.char-clorinde {
  background-image: url('../../../Assets/Character/Clorinde/clorinde-full.png');
}



.char-ganyu {
  background-image: url('../../../Assets/character/ganyu/ganyu.png');
}

.mainchar-xiao {
  background-image: url('../../../Assets/Character/Xiao/xiao.png');
  scale: 1 !important;
  mix-blend-mode: hard-light;
  left: 440px;
  top: 0;
}

.char-xiao {
  background-image: url('../../../Assets/Character/Xiao/xiao.png');
}

.mainchar-yaemiko {
  background-image: url('../../../Assets/Character/Yaemiko/yaemiko-full.png');
}

.banner-inazuma {
  background-image: url('../../../Assets/backgrounds/locations/inazuma/inazuma-pb.jpg');
}

.banner-inazuma-cl {
  background-image: url('../../../Assets/backgrounds/locations/inazuma/inazuma-cl.jpg');
}

.char-furina-full {
  background-image: url('../../../Assets/character/furina/Furina-full.png');
}

.char-xiao-full {
  background-image: url('../../../Assets/character/xiao/xiao-full.png');
}

.char-bennet-full {
  background-image: url('../../../Assets/character/bennet/Bennet-full.png');
}

.char-fischl-full {
  background-image: url('../../../Assets/character/Fischl/fischl-full.png');
}

.element-anemo {
  content: "";
  background-image: url(../../../../src/assets/material/elements/element_anemo.webp);
}

.element-electro {
  content: "";
  background-image: url(../../../../src/assets/material/elements/element_electro.webp);
}

.element-pyro {
  content: "";
  background-image: url(../../../../src/assets/material/elements/element_pyro.webp);
}

.element-hydro {
  content: "";
  background-image: url(../../../../src/assets/material/elements/element_hydro.webp);
}

.element-dendro {
  content: "";
  background-image: url(../../../../src/assets/material/elements/element_dendro.webp);
}

.element-geo {
  content: "";
  background-image: url(../../../../src/assets/material/elements/element_geo.webp);
}

.element-cryo {
  content: "";
  background-image: url(../../../../src/assets/material/elements/element_cryo.webp);
}

.weapon-bow {
  content: "";
  background-image: url(../../../../src/assets/material/weapons/weapon_Bow.webp);
}

.weapon-catalyst {
  content: "";
  background-image: url(../../../../src/assets/material/weapons/weapon_Catalyst.webp);
}

.weapon-claymore {
  content: "";
  background-image: url(../../../../src/assets/material/weapons/weapon_Claymore.webp);
}

.weapon-polearm {
  content: "";
  background-image: url(../../../../src/assets/material/weapons/weapon_Polearm.webp);
}

.weapon-sword {
  content: "";
  background-image: url(../../../../src/assets/material/weapons/weapon_Sword.webp);
}

.item-mora::before {
  content: "";
  background-image: url('../../../../src/assets/material/resources/Item_Mora.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.item-primogem::before {
  content: "";
  background-image: url('../../../../src/assets/material/resources/Item_Primogem.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.char-raiden {
  background-image: url('../../../Assets/Character/Raiden/raiden.png');
}

.face-raiden {
  background-image: url("../../../Assets/character/Raiden/raiden-face.jpg");
}

.card-raiden {
  background-image: url("../../../Assets/character/Raiden/raiden-card.gif");
}

.card-beidou {
  content: "";
  background-image: url("../../../../src/assets/character/Beidou/beidou-card.gif");
}

.face-beidou {
  background-image: url("../../../Assets/character/Beidou/beidou-face.jpg");
}

.card-hutao {
  content: "";
  background-image: url("../../../../src/assets/character/Hutao/hutao-card.gif");
}

.face-hutao {
  background-image: url("../../../Assets/character/Hutao/hutao-face.jpg");
}

.card-nilou {
  content: "";
  background-image: url("../../../../src/assets/character/Nilou/nilou-card.gif");
}

.face-nilou {
  background-image: url("../../../Assets/character/Nilou/nilou-face.jpg");
}

.card-xiao {
  content: "";
  background-image: url("../../../../src/assets/character/Xiao/xiao-card.gif");
}

.face-xiao {
  background-image: url("../../../Assets/character/Xiao/xiao-face.jpg");
}

.card-zhongli {
  content: "";
  background-image: url("../../../../src/assets/character/Zhongli/zhongli-card.gif");
}

.face-zhongli {
  background-image: url("../../../Assets/character/Zhongli/zhongli-face.jpg");
}

.card-mona {
  content: "";
  background-image: url("../../../../src/assets/character/Mona/mona-card.gif");
}

.face-mona {
  background-image: url("../../../Assets/character/Mona/mona-face.jpg");
}

.card-eula {
  content: "";
  background-image: url("../../../../src/assets/character/Eula/eula-card.gif");
}

.face-eula {
  background-image: url("../../../Assets/character/Eula/eula-face.jpg");
}

.card-baizhu {
  content: "";
  background-image: url("../../../../src/assets/character/Baizhu/baizhu-card.gif");
}

.face-baizhu {
  background-image: url("../../../Assets/character/Baizhu/baizhu-face.jpg");
}

.face-yelan {
  background-image: url("../../../Assets/character/Yelan/yelan-face.jpg");
}