.weapon-veridict {
  background-image: url("../../../Assets/weapons/claymore/Weapon_Verdict.webp");
}

.weapon-wolfs-gravestone {
  background-image: url("../../../Assets/weapons/claymore/Weapon_Gravestone.webp");
}

.weapon-xiphos-moonlight {
  background-image: url("../../../Assets/weapons/sword/Weapon-xiphos-moonlight.webp");
}

.weapon-dark-iron-sword {
  background-image: url("../../../Assets/weapons/sword/Weapon-dark-iron-sword.webp");
}

.weapon-toukabou-shigure {
  background-image: url("../../../Assets/weapons/sword/Weapon_toukabou-shigure.webp");
}