.about-content {
  margin: 32px 0;
}

.about-frame {
  backdrop-filter: saturate(80%) blur(8px);
  background-color: #ffffffb3;
  border-radius: 0;
  width: 100%;
  min-height: 820px;
  z-index: 998;
  position: relative;
  padding: 16px 24px;
  margin-bottom: 16px;
}