.guides-content {
  margin: 80px 0;
}

.guides-card-char {
  margin-top: -16px !important;
}

.char-main-banner-area {
  width: 100%;
  background-color: #181818;
  border: 1px solid #474747;
  border-radius: 24px;
  position: relative;
  transition: 800ms;
}

.char-main-banner-area:hover {
  transform: translate(0px, -8px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid #d8dbec;
  cursor: pointer;
  transition: 800ms;
}

.char-main-banner-area:hover .banner-inazuma {
  background-image: url('../../../../assets/backgrounds/locations/inazuma/Inazuma-cl.jpg') !important;
  transition: 800ms;
}

.char-tag-new {
  width: 64px;
  padding: 4px 8px;
  background-color: var(--myred);
  color: var(--mywhite);
  text-transform: uppercase;
  font-weight: bold;
  top: 24px;
  right: -8px;
  position: absolute;
  line-height: 1;
  font-size: 16px;
  text-align: center;
  z-index: 999;
}

.char-main-banner-background {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 320px;
  border-radius: 24px;
}

.char-main-banner-content {
  height: 320px;
  border-radius: 24px;
  position: relative;
}

.char-main-banner {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 440px;
  scale: 1;
  top: -120px;
  left: 124px;
  position: relative;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

.char-effect {
  width: 100%;
  height: 320px;
  border-radius: 24px;
}

.main-banner-video {
  width: 240px;
}

.char-main-banner-description {
  position: absolute;
  margin: auto 0;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
  height: 320px;
  align-content: center;
}

.char-main-banner-video {
  width: 320px;
  border-radius: 16px;
  display: none;
}

.char-main-banner-title .icon-element {
  width: 48px;
  height: 48px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

.char-main-banner-name {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  color: var(--mywhite);
  line-height: 1;
}

.char-stars {
  font-size: 12px;
  color: var(--mygold);
}

.char-main-banner-title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.char-main-banner-text {
  width: 400px;
}

.play-button {
  position: absolute;
  bottom: 56px;
  left: 72px;
  width: 40px;
  height: 40px;
  transform: translateX(-50%);
  font-size: 24px;
  color: white;
  cursor: pointer;
  border: 1px solid var(--mywhite);
  background-color: var(--myblack-20);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  z-index: 999;
  transition: 800ms;
}

.play-button:hover {
  background-color: var(--mywhite-20);
  transition: 800ms;
}

.char-main-banner-cover {
  height: 180px;
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}

.char-banner-name h5 {
  color: var(--myblack-80);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
  line-height: 1;
}

.char-banner-area {
  width: 264px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #474747;
  border-radius: 24px;
  margin-top: 24px;
  transition: 800ms;
}

.char-banner-area:hover {
  border: 1px solid #d8dbec;
  transform: translate(0px, -8px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: 800ms;
}

.char-banner-area:hover .banner-inazuma {
  background-image: url('../../../../assets/backgrounds/locations/inazuma/Inazuma-cl.jpg') !important;
  transition: 800ms;
}

.char-banner-background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 24px;
}

.char-banner {
  height: 360px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  scale: 1;
  mask-image: linear-gradient(to right, black 70%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.char-fischl-full {
  left: -40px;
}

.char-furina-full {
  margin-left: 24px;
}

.char-banner-description-area {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.char-banner-description {
  background-color: var(--mywhite);
  width: 224px;
  border: 1px solid #d8dbec;
  border-radius: 16px;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px !important;
  padding: 8px 16px;
  position: absolute;
  margin-bottom: 24px;
}

.char-banner-element-content {
  display: flex;
  align-items: center;
}

.char-banner-element .icon-element {
  width: 16px;
  height: 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0;
}

.char-banner-element-content p {
  margin: 0 !important;
  padding-left: 2px;
  color: var(--myblack-80);
  font-size: 14px;
}

.char-banner-weapon-content {
  display: flex;
  align-items: center;
}

.char-banner-weapon .icon-weapon {
  width: 16px;
  height: 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0;
}

.char-banner-weapon-content p {
  margin: 0 !important;
  padding-left: 2px;
  color: var(--myblack-80);
  font-size: 14px;
}

.char-banner-text {
  color: var(--myblack-50);
  font-size: 12px;
}

.char-tag-popular {
  padding: 4px 8px;
  background-color: var(--mypink);
  color: var(--mywhite);
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  margin-top: 24px;
  margin-left: -8px;
  position: absolute;
  border-radius: 0 8px 8px 8px;
  line-height: 1;
  font-size: 16px;
  text-align: center;
  z-index: 999;
}

.char-main-banner-shadow-left {
  background: linear-gradient(90deg,
      hsla(0, 0%, 9%, .50) 20%,
      hsla(0, 0%, 9%, .45) 25%,
      hsla(0, 0%, 9%, .40) 35%,
      hsla(0, 0%, 9%, .35) 40%,
      hsla(0, 0%, 9%, .30) 45%,
      hsla(0, 0%, 9%, .25) 50%,
      hsla(0, 0%, 9%, .20) 55%,
      hsla(0, 0%, 9%, .15) 60%,
      hsla(0, 0%, 9%, .10) 65%,
      hsla(0, 0%, 9%, .05) 70%,
      hsla(0, 0%, 9%, .0) 75%,
      hsla(0, 0%, 9%, .0) 80%,
      hsla(0, 0%, 9%, .0) 85%,
      hsla(0, 0%, 9%, .0) 90%,
      hsla(0, 0%, 9%, .0) 95%,
      hsla(0, 0%, 9%, 0));
  position: absolute;
  width: 100%;
  z-index: 2;
  border-radius: 24px;
}

.guides-area-char {
  min-height: 440px;
  position: relative;
}

.guides-header-area {
  display: flex;
}

.guides-header-char {
  background-color: #474747;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: contain;
}

.guides-header {
  display: flex;
}

.guides-header-main-info {
  padding-left: 8px;
  align-content: center;
  max-width: 160px;
}

.guides-link-area {
  height: 24px;
  width: 100%;
  background-color: var(--mywhite);
}

.guides-header-main-name {
  color: var(--myblack-80);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 4px;
  line-height: 1;
}

.guides-header-main-title {
  font-size: 12px;
  line-height: 1;
}

.guides-link-area::after {
  font-weight: bold;
  top: 24px;
  right: -8px;
  position: absolute;
  background-color: red;
  width: 40px;
  height: 40px;
}

.guides-char-main-area {
  min-height: 344px;
  background-color: var(--mywhite);
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.guides-description-area {
  padding: 16px;
}

.guides-link-right {
  height: 32px;
  width: 32px;
  background-color: #181818;
  position: relative;
  border-radius: 8px;
  transform: rotate(45deg);
  z-index: 999;
  margin-right: -20px;
}

.guides-link-left {
  height: 32px;
  width: 32px;
  background-color: #181818;
  position: relative;
  border-radius: 8px;
  transform: rotate(45deg);
  z-index: 999;
  margin-left: -20px;
}

.guides-description-text {
  font-size: 14px;
  color: var(--myblack-80);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  display: -webkit-box;
}

.guides-description-info-area {
  padding-top: 8px;
  border-top: 1px solid var(--mygray-40);
}

.guieds-action-link {
  background-color: var(--myindigo-20);
  color: var(--myindigo) !important;
  padding: 4px 8px;
  font-size: 18px;
  border-radius: 8px;
  text-decoration: none !important;
  font-weight: bolder;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  line-height: 1;
  transition: 800ms;
}

.guides-action-area {
  display: flex;
  align-items: center;
  background-color: var(--mywhite);
  padding: 16px;
  border-radius: 0 0 8px 8px;
  position: relative;
  z-index: 998;
}

.guides-description-text-area {
  margin-top: 8px;
  max-height: 168px;
  min-height: 168px;
  overflow: hidden;
}

.flag-container {
  margin-left: auto;
  margin-right: 2px;
  margin-top: -4px;
  justify-content: flex-end;
  display: flex;
}

.flag {
  width: 40px;
  height: 64px;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -24px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: 16px;
  top: 56px;
  z-index: 999;
}

.flag-char {
  background-color: var(--myindigo);
  color: var(--mywhite);
}

.guides-charview-area {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 344px;
  width: 100%;
  scale: 1.24;
}

.guides-charview-shadow {
  background: linear-gradient(0deg, #f4f4f4 0,
      rgba(244, 244, 244, 0.987) 8%, rgba(244, 244, 244, 0.951) 12%, rgba(244, 244, 244, 0.896) 16%,
      rgba(244, 244, 244, 0.825) 20%, rgba(244, 244, 244, 0.741) 24%, rgba(244, 244, 244, 0.648) 28%,
      rgba(244, 244, 244, 0.55) 32%, rgba(244, 244, 244, 0.45) 36%, rgba(244, 244, 244, 0.352) 40%,
      rgba(244, 244, 244, 0.259) 44%, rgba(244, 244, 244, 0.175) 48%, rgba(244, 244, 244, 0.104) 52%,
      rgba(244, 244, 244, 0.049) 56%, rgba(244, 244, 244, 0.013) 60%, rgba(244, 244, 244, 0) 64%);
  position: absolute;
  height: 320px;
  width: 100%;
  z-index: 9999;
}

.hidden {
  display: none !important;
}

.guides-lore-area {
  max-height: 344px;
  min-height: 344px;
  padding: 16px;
}

.guides-lore-text-area {
  max-height: 310px;
  overflow: hidden;
}

.guides-lore-text {
  font-size: 14px;
  color: var(--myblack-60);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 13;
  display: -webkit-box;
}

.guides-lore-title {
  font-size: 16px;
  color: var(--myindigo);
  padding: 4px 8px;
  background-color: var(--myindigo-20);
  border-radius: 4px;
  margin-bottom: 4px;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  background-color: var(--myindigo) !important;
  color: var(--mywhite) !important;
  border-color: var(--myindigo) !important;
}

.btn-outline-primary {
  background-color: var(--mywhite) !important;
  color: var(--myindigo) !important;
  border-color: var(--myindigo) !important;
}

.btn-outline-primary:hover {
  background-color: var(--myindigo-20) !important;
}

.main-link-outline {
  background-color: var(--mywhite) !important;
  color: var(--myindigo) !important;
  font-size: 16px !important;
  padding: 4px 16px !important;
  text-decoration: none !important;
  transition: 400ms !important;
}

.main-link-outline:hover {
  color: var(--myindigo-80) !important;
  transition: 400ms !important;
}

.load-more {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 16px !important;
}

.btn-load {
  border: 1px solid var(--myindigo) !important;
  background-color: var(--myindigo) !important;
  color: var(--mywhite) !important;
  width: 264px;
}

.btn-loading {
  display: flex;
  align-items: center;
  height: 42px !important;
  align-content: center;
  justify-content: center;
  border: 1px solid var(--myindigo) !important;
  border-radius: 4px;
  background-color: var(--myindigo-20) !important;
  color: var(--myindigo) !important;
  width: 264px;
  font-size: 16px !important;
}

.guides-header-weapon {
  background-color: #474747;
  width: 48px;
  height: 48px;
  border-radius: 8px;

  overflow: hidden;
}

.weapon-avatar {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
  scale: 1.6;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: contain;
}

.header-weapon-fivestars {
  background-color: var(--mygold);
}

.header-weapon-fourstars {
  background-color: var(--myindigo);
}

.header-weapon-threestars {
  background-color: var(--myblue);
}

.guides-weapon-main-area {
  min-height: 344px;
  background-color: var(--mywhite);
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.flag-weapon {
  background-color: var(--myred);
  color: var(--mywhite);
}

.material-symbols-rounded {
  font-size: 16px !important;
}

.char-banner-text {
  color: var(--myblack-50);
  font-size: 12px;
}

.weapon-banner-level {
  font-size: 14px;
  padding: 2px 4px;
  border-radius: 2px;
  line-height: 1;
  margin-bottom: 4px;
  color: var(--mywhite);
  background-color: var(--myindigo);
  border: 1px solid var(--myindigo);
}

.guides-description-weapon-text {
  font-size: 14px;
  color: var(--myblack-80);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  display: -webkit-box;
}

.guides-weapon-description-text-area {
  margin-top: 8px;
  max-height: 136px;
  min-height: 136px;
  overflow: hidden;
}

.guides-description-weapon-info-area {
  padding-top: 8px;
  margin-top: 8px;
  border-top: 1px solid var(--mygray-40);
}

.guides-effect-title {
  color: var(--myblack-50);
  font-size: 12px;
  border-bottom: 1px solid var(--mygray-40);
  margin-bottom: 4px;
}

.guides-effect-description-text {
  font-size: 14px;
  color: var(--myblack-60);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 12;
  display: -webkit-box;
}

.guides-effect-area {
  max-height: 344px;
  min-height: 344px;
  padding: 16px;
}

.guides-effect-area-text {
  min-height: 272px;
  max-height: 272px;
  overflow: hidden;
}

.guides-effect-area-text span {
  color: var(--myindigo);
}

.guides-area-weapon .nav-link {
  border-radius: 0 !important;
  color: var(--myindigo) !important;
  border: none !important;
  text-align: center;
  width: 32px;
  height: 32px;
}

.guides-area-weapon .nav-link:hover {
  border-radius: 0 !important;
}

.guides-area-weapon .nav-link.active {
  border-radius: 0 !important;
}

.nav.nav-tabs {
  border: none !important;
}

.guides-effect-refinement-title {
  font-size: 14px;
  color: var(--myindigo);
  line-height: 1;
  align-self: center;
  margin-right: auto;
}

.nav-tabs-refinement {
  display: flex;
  border-top: 1px solid var(--myindigo);
  margin-top: 4px;
}