<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<!-- Starting -->
	<title>Re: Midas</title>
	<meta name="description" content="Project Re: Midas">
	<meta name="author" content='Victor "Vici" Pires'>
	<meta name="keywords" content="design, web development, portfolio, games, genhin impact">
	<!-- Meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<!-- Css -->
	<link rel="stylesheet" href="../src/styles/badass.css">
	<link rel="stylesheet" href="../src/styles/midas-library.css">
	<!-- Components -->
	<link rel="stylesheet" href="src/styles/components/pages/home/home.css">
	<link rel="stylesheet" href="src/styles/components/pages/home/about.css">
	<link rel="stylesheet" href="src/styles/components/pages/home/events.css">
	<link rel="stylesheet" href="src/styles/components/pages/home/guides.css">
	<link rel="stylesheet" href="src/styles/components/pages/home/news.css">

	<link rel="stylesheet" href="src/styles/components/pages/characters.css">
	<!-- Styles -->
	<link rel="stylesheet" href="src/styles/components/menu/menu-left.css">
	<link rel="stylesheet" href="src/styles/components/menu/menu-top.css">
	<link rel="stylesheet" href="src/styles/components/menu/menu-select.css">
	<link rel="stylesheet" href="src/styles/components/cache/cookies.css">
	<link rel="stylesheet" href="src/styles/components/infinite-scroll/infinite-scroll.css">

	<!-- Imported Fonts -->
	<link rel="stylesheet" href="../src/styles/fonts/fontsimport.css">
	<!-- Themes Mode -->
	<link rel="stylesheet" href="../src/scripts/components/themes/dark-mode.js">
	<!-- Bootstrap + FontAwesome git init -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</head>

<body>
	<!-- Menu Top -->
	<nav style="display: grid;" id="mainnavbar">
		<div class="menu-top">
			<div class="menu-logo">
				<div class="logo-text">
					<span>project</span>
					<p>Midas</p>
				</div>
			</div>
			<div class="menu menu-top-nav">
				<ul>
					<li class="nav-item">
						<a class="nav-link" href="#scrollhome">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#scrollAbout">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#scrollNews">News</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#scrollEvents">Events</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#scrollGuides">Guides</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#scrollspyHeading4">Contact</a>
					</li>
				</ul>
			</div>
			<div class="menu-profile">
				<div class="menu-welcome-text">
					<p>Welcome back, <br><span>Vici</span>👋.</p>
				</div>
				<div class="menu-avatar" data-bs-toggle="offcanvas" data-bs-target="#" aria-controls="">
					<span class="profile-status position-absolute top-100 start-100 translate-middle">
					</span>
				</div>
			</div>
		</div>
	</nav>
	<!-- Select Game Menu -->
	<div class="select-menu-area">
		<div class="select-menu-base">
			<div class="select-menu-content">
				<ul>
					<!-- Genshin Impact -->
					<li>
						<a class="select-menu-link" href="" data-bs-toggle="tooltip" data-bs-placement="right"
							data-bs-custom-class="select-menu-tooltip" data-bs-title="Genshin Impact">
							<img class="select-menu-icon active" alt="" src="../src/assets/logo/logo-genshin.png">
						</a>
					</li>
					<!-- Star Rail -->
					<li>
						<a class="select-menu-link offline" href="" data-bs-toggle="tooltip" data-bs-placement="right"
							data-bs-custom-class="select-menu-tooltip offline" data-bs-title="Star Rail">
							<img class="select-menu-icon" alt="" src="../src/assets/logo/logo-starrail.png">
						</a>
					</li>
					<!-- Zenless Zone Zero -->
					<li>
						<a class="select-menu-link offline" href="" data-bs-toggle="tooltip" data-bs-placement="right"
							data-bs-custom-class="select-menu-tooltip offline" data-bs-title="Zenless Zone Zero">
							<img class="select-menu-icon" alt="" src="../src/assets/logo/logo-zenlesszonezero.png">
						</a>
					</li>
					<!-- Whutering Waves -->
					<li>
						<a class="select-menu-link" href="" data-bs-toggle="tooltip" data-bs-placement="right"
							data-bs-custom-class="select-menu-tooltip" data-bs-title="Whutering Waves">
							<img class="select-menu-icon" alt="" src="../src/assets/logo/logo-whuteringwaves.png">
						</a>
					</li>
					<!-- Reverse 1999 -->
					<li>
						<a class="select-menu-link" href="" data-bs-toggle="tooltip" data-bs-placement="right"
							data-bs-custom-class="select-menu-tooltip" data-bs-title="Reverse 1999">
							<img class="select-menu-icon" alt="" src="../src/assets/logo/logo-reverse.png">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Home -->
	<main class="home-content" data-bs-spy="scroll" data-bs-target="#mainnavbar" data-bs-smooth-scroll="true">
		<div class="effect-shadow" id="scrollhome">
			<div class="banner">
				<div class="banner-shadow-left"></div>
				<video id="bg-mainVideo" autoplay loop muted class="bg-mainvideo"
					src="../src/assets/videos/RaidenGarden.mp4"></video>
				<div class="banner-shadow-bottom">
					<div class="container">
						<div class="banner-content">
							<div style="width: 100%; text-align: left;">
								<div class="d-flex" style="height: 200px;">
									<div class="banner-intro">
										<!--<h2 class="banner-tag">Character Guide</h2>-->
										<h1 class="banner-name"><span>the Plane of Euthymia</span><br>Raiden Shogun</h1>
										<div class="banner-hr"></div>
										<p class="banner-quote">
											"Her Excellency, the Almighty Narukami Ogosho, who promised the people of Inazuma an unchanging
											Eternity."
											<br>- The people of Inazuma.
										</p>
									</div>
									<div class="banner-signature">
										<img src="../src/assets/logo/signature-vertical.png">
									</div>
								</div>
								<div class="banner-events">
									<!-- Event: 1 -->
									<div class="d-flex ms-auto">
										<div class="banner-miniature banner-event event-inazuma active">
											<div class="banner-event event-indigo">
												<div class="banner-event event-char char-raiden">
												</div>
											</div>
										</div>
										<!-- Event: 2 -->
										<div class="banner-miniature banner-event event-inazuma">
											<div class="banner-event event-indigo">
												<div class="banner-event event-char char-xiao">
												</div>
											</div>
										</div>
										<!-- Event: 3 -->
										<div class="banner-miniature banner-event event-inazuma">
											<div class="banner-event event-indigo">
												<div class="banner-event event-char char-ganyu">
												</div>
											</div>
										</div>
										<!-- Event: 4 -->
										<div class="banner-miniature banner-event event-inazuma">
											<div class="banner-event event-indigo">
												<div class="banner-event event-char char-yae">
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Intro -->
								<div class="banner-frame-title">
									<p class="banner-number">01.</p>
									<div class="d-block">
										<h3 class="banner-title"><span>スポットライト</span>Spotlight</h3>
									</div>
								</div>
								<div class="banner-frame">
									<div class="banner-hr"></div>
									<div class="banner-text">
										<p>[...] The Raiden Shogun exists in two forms — Ei, her true identity, and the Shogun, a puppet
											created by Ei to oversee Inazuma in her stead while she meditates in the Plane of Euthymia. This
											puppet follows a set of directives programmed into her, which are extremely difficult to modify.
											The Shogun is cold and stern in personality, even callous at times; she is limited in emotional
											expression, has no likes and dislikes, and has no need for recreation. [...]</p>
									</div>
									<a class="banner-frame-link">
										See More ↗</i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content-page" style="min-height: 4000px;">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-8 p-0">
						<!-- About -->
						<div class="about-content" id="scrollAbout">
							<div class="caption-frame">
								<p class="caption-number">02.</p>
								<div class="d-block">
									<h3 class="caption-title"><span>について</span><br>About</h3>
								</div>
							</div>
							<div class="caption-hr"></div>
							<div class="caption-intro">
								<p>Welcome to
									<span tabindex="0" class="midas-name" data-bs-placement="top" data-bs-toggle="popover"
										data-bs-trigger="hover focus" data-bs-custom-class="caption-popover" data-bs-title="Project Midas"
										data-bs-content="ⓘ Above all else, Midas is a project that combines my skills as a designer and programmer. You can find it in my portfolio.">
										Midas</span> .
								</p>
								<p class="midas-quote">
									Offer a few coins to the man in exchange for him revealing your true face.
								</p>
								<p>
									Midas is a project created for the geek community, the ultimate guide where you will find everything
									about the latest games. From tips to master your favorite characters to unbeatable strategies to
									complete challenging events, Midas is here to transform your gaming experience.</p>
								<p>
									The games we cover include: <strong>Genshin Impact</strong>, <strong>Honkai Star Rail</strong>e
									<strong>Zenless Zone Zero</strong>. Explore the world of gaming with Midas and become a
									true master in your favorite titles.
								</p>
								<p>See my other
									<a class="main-link" href="">projects ↗</a> or the
									<a class="main-link" href="">history of Midas changes ↗</a>.
								</p>
							</div>
							<div class="caption-signature">
								<div class="caption-author author-vici"></div>
								<div class="author-content">
									<div class="author-name name-vici">Vici</div>
									<div class="author-quote">Aspiring Designer, Programmer and Raiden main.</div>
								</div>
								<div class="author-link-area">
									<a class="main-link icon-link" href="https://www.linkedin.com/in/vici/" target="_blank">
										<i class="bi bi-person-fill"></i></a>
								</div>
							</div>
						</div>
						<!-- News -->
						<div class="news-content" id="scrollNews">
							<div class="caption-frame">
								<p class="caption-number">03.</p>
								<div class="d-block">
									<h3 class="caption-title"><span>について</span><br>News and Articles</h3>
								</div>
							</div>
							<div class="caption-hr"></div>
							<div class="caption-intro">
								<p>Follow Midas' articles and stay tuned for news.</p>
							</div>
							<div class="news-banner-area">
								<div class="d-flex">
									<div>
										<p class="event-type-a me-0 mb-2">Main Article</p>
										<div class="news-banner banner-eventarlecchino"></div>
									</div>
									<div style="margin-left: 24px;">
										<p class="event-type-b m-0">News Articles</p>
										<div class="news-articles-area">
											<div class="news-article">
												<div class="news-article-top">
													<div class="d-flex" style="align-items: center;">
														<div class="news-article-avatar author-vici"></div>
														<div class="news-article-author-name">Vici</div>
													</div>
													<div class="d-flex ms-auto" style="align-items: center;">
														<div class="news-article-date">
															<span class="event-date">07.08.24<i class="bi bi-calendar-fill ps-2"></i></span>
														</div>
													</div>
												</div>
												<div class="news-article-description-area">
													<h5 class="news-article-title">Discover Sumeru's new weapons</h5>
													<p class="news-article-description">
														[...] the weapons are considered the strongest forged by the blacksmith.
													</p>
												</div>
												<a href="" class="main-link">
													Read more ↗
												</a>
											</div>
											<div class="news-article">
												<div class="news-article-top">
													<div class="d-flex" style="align-items: center;">
														<div class="news-article-avatar author-vici"></div>
														<div class="news-article-author-name">Vici</div>
													</div>
													<div class="d-flex ms-auto" style="align-items: center;">
														<div class="news-article-date">
															<span class="event-date">07.08.24<i class="bi bi-calendar-fill ps-2"></i></span>
														</div>
													</div>
												</div>
												<div class="news-article-description-area">
													<h5 class="news-article-title">Discover Sumeru's new weapons</h5>
													<p class="news-article-description">
														[...] the weapons are considered the strongest forged by the blacksmith.
													</p>
												</div>
												<a href="" class="main-link">
													Read more ↗
												</a>
											</div>
											<div class="news-article">
												<div class="news-article-top">
													<div class="d-flex" style="align-items: center;">
														<div class="news-article-avatar author-vici"></div>
														<div class="news-article-author-name">Vici</div>
													</div>
													<div class="d-flex ms-auto" style="align-items: center;">
														<div class="news-article-date">
															<span class="event-date">07.08.24<i class="bi bi-calendar-fill ps-2"></i></span>
														</div>
													</div>
												</div>
												<div class="news-article-description-area">
													<h5 class="news-article-title">Discover Sumeru's new weapons</h5>
													<p class="news-article-description">
														[...] the weapons are considered the strongest forged by the blacksmith.
													</p>
												</div>
												<a href="" class="main-link">
													Read more ↗
												</a>
											</div>
											<div class="news-article">
												<div class="news-article-top">
													<div class="d-flex" style="align-items: center;">
														<div class="news-article-avatar author-vici"></div>
														<div class="news-article-author-name">Vici</div>
													</div>
													<div class="d-flex ms-auto" style="align-items: center;">
														<div class="news-article-date">
															<span class="event-date">07.08.24<i class="bi bi-calendar-fill ps-2"></i></span>
														</div>
													</div>
												</div>
												<div class="news-article-description-area">
													<h5 class="news-article-title">Discover Sumeru's new weapons</h5>
													<p class="news-article-description">
														[...] the weapons are considered the strongest forged by the blacksmith.
													</p>
												</div>
												<a href="" class="main-link">
													Read more ↗
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="caption-signature">
									<div>
										<p class="fw-light">See the collection of<br><span class="fw-bold">Articles</span></p>
									</div>
									<div class="ms-auto">
										<a href="" class="main-link">
											See More ↗
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="events-content" id="scrollEvents">
							<div class="caption-frame">
								<p class="caption-number">04.</p>
								<div class="d-block">
									<h3 class="caption-title"><span>について</span><br>Events</h3>
								</div>
							</div>
							<div class="caption-hr"></div>
							<div class="caption-intro">
								<p>Stay up to date with events.</p>
							</div>
							<div class="event-type">
								<p class="event-type-a">Main event</p>
								<p class="event-type-b">Secondary events</p>
							</div>
							<div class="event-row">
								<!-- Main Event -->
								<div class="main-simple-frame simple-frame">
									<div class="frame-top"></div>
									<div class="frame-header header-event-d">
										<div class="frame-event-shadow">
											<div class="frame-event-tag item-mora">
												<span>Mora</span>
											</div>
											<div class="frame-event-tag item-primogem">Primogem</div>
										</div>
									</div>
									<h4 class="event-title">Falling stars</h4>
									<p class="event-intro">Something like this project and this event. Something like this project and
										this event.</p>
									<div class="event-color">
										<div class="event-color-left"></div>
										<span class="event-date"><i class="bi bi-calendar-fill pe-2"></i>05.06.24 - 07.08.24</span>
										<div class="event-color-right"></div>
									</div>
								</div>
								<div class="event-scroll side-scroll">
									<!-- Event A -->
									<div class="simple-frame">
										<div class="frame-top"></div>
										<div class="frame-header header-event-b">
											<div class="frame-event-shadow">
												<div class="frame-event-tag item-mora">
													<span>Mora</span>
												</div>
												<div class="frame-event-tag item-primogem">Primogem</div>
											</div>
										</div>
										<h4 class="event-title">Falling stars</h4>
										<p class="event-intro">Something like this project and this event.</p>
										<div class="event-color">
											<div class="event-color-left"></div>
											<span class="event-date"><i class="bi bi-calendar-fill pe-2"></i>05.06.24 - 07.08.24</span>
											<div class="event-color-right"></div>
										</div>
									</div>
									<!-- Event B -->
									<div class="simple-frame">
										<div class="frame-top"></div>
										<div class="frame-header header-event-c">
											<div class="frame-event-shadow">
												<div class="frame-event-tag item-mora">
													<span>Mora</span>
												</div>
												<div class="frame-event-tag item-primogem">Primogem</div>
											</div>
										</div>
										<h4 class="event-title">Falling stars</h4>
										<p class="event-intro">Something like this project and this event.</p>
										<div class="event-color">
											<div class="event-color-left"></div>
											<span class="event-date"><i class="bi bi-calendar-fill pe-2"></i>05.06.24 - 07.08.24</span>
											<div class="event-color-right"></div>
										</div>
									</div>
									<!-- Event C -->
									<div class="simple-frame">
										<div class="frame-top"></div>
										<div class="frame-header header-event-a">
											<div class="frame-event-shadow">
												<div class="frame-event-tag item-mora">
													<span>Mora</span>
												</div>
												<div class="frame-event-tag item-primogem">Primogem</div>
											</div>
										</div>
										<h4 class="event-title">Falling stars</h4>
										<p class="event-intro">Something like this project and this event.</p>
										<div class="event-color">
											<div class="event-color-left"></div>
											<span class="event-date"><i class="bi bi-calendar-fill pe-2"></i>05.06.24 - 07.08.24</span>
											<div class="event-color-right"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Event Guides -->
						<div class="guides-content" id="scrollGuides">
							<div class="caption-frame">
								<p class="caption-number">05.</p>
								<div class="d-block">
									<h3 class="caption-title"><span>について</span><br>Guides</h3>
								</div>
							</div>
							<div class="caption-hr"></div>
							<div class="caption-intro">
								<p></p>
							</div>
							<div class="char-main-banner-area char-clorinde">
								<div class="char-tag-new">New</div>
								<div class="char-main-banner-content">
									<div class="char-main-banner-description" style=" z-index: 999;">
										<div class="char-main-banner-title">
											<div class="icon-element element-electro"></div>
											<div class="ms-2">
												<h4 class="char-main-banner-name">Clorinde</h4>
												<div class="char-stars">
													<i class="bi bi-star-fill"></i>
													<i class="bi bi-star-fill"></i>
													<i class="bi bi-star-fill"></i>
													<i class="bi bi-star-fill"></i>
													<i class="bi bi-star-fill"></i>
												</div>
											</div>
										</div>
										<img id="videoCover" alt="Video Cover" class="char-main-banner-cover"
											src="../src/assets/videos/char-clorinde-intro.jpg">
										<div class="play-button" id="playButton">
											<i class="bi bi-play-fill"></i>
										</div>
										<video id="bgVideo" class="char-main-banner-video" loop muted>
											<source src="../src/assets/videos/char-clorinde-intro.mp4" type="video/mp4">
										</video>
									</div>
									<div class="char-main-banner-background banner-inazuma">
										<div class="char-main-banner-shadow-left">
											<div class="char-effect event-indigo">
												<div class="char-main-banner char-clorinde"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<!-- 1ºst Char -->
								<div class="col-md-4" style="display: flex; justify-content: left;">
									<div class="char-banner-area char-banner-furina">
										<div class="char-tag-popular">Popular</div>
										<div class="char-banner-background banner-inazuma">
											<div class="char-banner char-furina-full"></div>
											<div class="char-banner-description-area">
												<div class="char-banner-description">
													<div class="char-banner-name">
														<h5>Furina</h5>
													</div>
													<div class="d-flex mt-1">
														<div class="d-flex" style="min-width: 88px;">
															<div class="char-banner-rarity me-auto">
																<div class="char-banner-text">
																	Rarity:
																</div>
																<div class="char-stars">
																	<i class="bi bi-star-fill"></i>
																	<i class="bi bi-star-fill"></i>
																	<i class="bi bi-star-fill"></i>
																	<i class="bi bi-star-fill"></i>
																	<i class="bi bi-star-fill"></i>
																</div>
															</div>
														</div>
														<div class="char-banner-element" style="min-width: 80px;">
															<div class="char-banner-text">
																Role:
															</div>
															<div class="char-banner-element-content">
																<div class="icon-element element-anemo">
																</div>
																<p>Main Dps</p>
															</div>
														</div>
													</div>
													<div class="d-flex mt-1">
														<div class="d-flex" style="min-width: 88px;">
															<div class="char-banner-rarity me-auto">
																<div class="char-banner-text">
																	Weapon:
																</div>
																<div class="char-banner-element-content">
																	<div class="icon-element element-anemo">
																	</div>
																	<p>Main Dps</p>
																</div>
															</div>
														</div>
														<div class="char-banner-element" style="min-width: 80px;">
															<div class="char-banner-text">
																Element:
															</div>
															<div class="char-banner-element-content">
																<div class="icon-element element-anemo">
																</div>
																<p>Anemo</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- 2ºnd Char -->
								<div class="col-md-4" style="display: flex; justify-content: center;">
									<div class="char-banner-area char-banner-xiao">
										<div class="char-banner-background banner-inazuma">
											<div class="char-banner char-xiao-full"></div>
											<div class="char-banner-description-area">
												<div class="char-banner-description">
													<div class="char-banner-name">
														<h5>Xiao</h5>
													</div>
													<div class="d-flex mt-1">
														<div class="d-flex" style="min-width: 88px;">
															<div class="char-banner-rarity me-auto">
																<div class="char-banner-text">
																	Rarity:
																</div>
																<div class="char-stars">
																	<i class="bi bi-star-fill"></i>
																	<i class="bi bi-star-fill"></i>
																	<i class="bi bi-star-fill"></i>
																	<i class="bi bi-star-fill"></i>
																	<i class="bi bi-star-fill"></i>
																</div>
															</div>
														</div>
														<div class="char-banner-element" style="min-width: 80px;">
															<div class="char-banner-text">
																Role:
															</div>
															<div class="char-banner-element-content">
																<div class="icon-element element-anemo">
																</div>
																<p>Main Dps</p>
															</div>
														</div>
													</div>
													<div class="d-flex mt-1">
														<div class="d-flex" style="min-width: 88px;">
															<div class="char-banner-rarity me-auto">
																<div class="char-banner-text">
																	Weapon:
																</div>
																<div class="char-banner-element-content">
																	<div class="icon-element element-anemo">
																	</div>
																	<p>Main Dps</p>
																</div>
															</div>
														</div>
														<div class="char-banner-element" style="min-width: 80px;">
															<div class="char-banner-text">
																Element:
															</div>
															<div class="char-banner-element-content">
																<div class="icon-element element-anemo">
																</div>
																<p>Anemo</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- 3ºrd Char -->
								<div class="col-md-4" style="display: flex; justify-content: right;">
									<div class="char-banner-area char-banner-fischl">
										<div class="char-banner-background banner-inazuma">
											<div class="char-banner char-fischl-full"></div>
											<div class="char-banner-description-area">
												<div class="char-banner-description">
													<div class="char-banner-name">
														<h5>Fischl</h5>
													</div>
													<div class="d-flex mt-1">
														<div class="d-flex" style="min-width: 88px;">
															<div class="char-banner-rarity me-auto">
																<div class="char-banner-text">
																	Rarity:
																</div>
																<div class="char-stars">
																	<i class="bi bi-star-fill"></i>
																	<i class="bi bi-star-fill"></i>
																	<i class="bi bi-star-fill"></i>
																	<i class="bi bi-star-fill"></i>
																	<i class="bi bi-star"></i>
																</div>
															</div>
														</div>
														<div class="char-banner-element" style="min-width: 80px;">
															<div class="char-banner-text">
																Role:
															</div>
															<div class="char-banner-element-content">
																<div class="icon-element element-anemo">
																</div>
																<p>Main Dps</p>
															</div>
														</div>
													</div>
													<div class="d-flex mt-1">
														<div class="d-flex" style="min-width: 88px;">
															<div class="char-banner-rarity me-auto">
																<div class="char-banner-text">
																	Weapon:
																</div>
																<div class="char-banner-element-content">
																	<div class="icon-element element-anemo">
																	</div>
																	<p>Main Dps</p>
																</div>
															</div>
														</div>
														<div class="char-banner-element" style="min-width: 80px;">
															<div class="char-banner-text">
																Element:
															</div>
															<div class="char-banner-element-content">
																<div class="icon-element element-anemo">
																</div>
																<p>Anemo</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="caption-signature">
								<div>
									<p class="fw-light">See the collection of<br><span class="fw-bold">Character guides</span></p>
								</div>
								<div class="ms-auto">
									<a href="" class="main-link">
										See More ↗
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2">

					</div>
				</div>
				<div class="d-flex">
					<div class="">

					</div>
				</div>
			</div>
		</div>
	</main>



	<div class="container">
		<div class="row">
			<div class="col-md-2">

			</div>
			<div class="col-md-8">

			</div>
			<div class="col-md-2">

			</div>
		</div>
	</div>


	<!-- Biblioteca jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- Biblioteca do Bootstrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Script Cursor Personalizado -->

	<script>


	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<script>
		const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
		const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
	</script>

	<script>
		const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
		const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
	</script>

	<script>
		document.addEventListener('DOMContentLoaded', (event) => {
			const scrollContainer = document.querySelector('.side-scroll');

			scrollContainer.addEventListener('wheel', (e) => {
				e.preventDefault();
				scrollContainer.scrollLeft += e.deltaY;
			});
		});

	</script>



	<script>
		document.querySelector('.char-main-banner-area').addEventListener('click', function () {
			window.location.href = 'https://www.example.com';
		});

		document.querySelector('.char-banner-xiao').addEventListener('click', function () {
			window.location.href = 'https://www.example.com';
		});

		document.getElementById('playButton').addEventListener('click', function (event) {
			event.stopPropagation();
			var video = document.getElementById('bgVideo');
			var cover = document.getElementById('videoCover');
			var playButton = document.getElementById('playButton');
			if (video.paused) {
				video.style.display = 'block';
				cover.style.display = 'none';
				video.muted = false;
				video.play();
				playButton.innerHTML = '<i class="bi bi-pause-fill"></i>';
			} else {
				video.pause();
				playButton.innerHTML = '<i class="bi bi-play-fill"></i>';
			}
		});
	</script>
	<script src="../src/scripts/components/infinite-scroll/infinite-scroll.js"></script>
</body>

</html>