.modal-login .modal-header {
  border-bottom: 0 !important;
  border-radius: 24px !important;
}

.modal-login .modal-header .btn-close {

}

.modal-login .modal-content {
  border-radius: 24px;
}

.modal-login .modal-body {
  height: 440px;
}

.modal-login-left {
  
}

.modal-login-left-background {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 410px;
  border-radius: 16px;
}

.modal-login-left-char {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 540px;
  overflow: hidden;
  height: 440px;
  scale: 1;
  top: -30px;
  left: -64px;
  position: relative;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.05));
}

.modal-login-right {
  z-index: 999;
  position: relative;
}

.modal-login-area {
  padding: 0 40px;
  height: 380px;
  align-content: center;
}

.modal-login-area .form-control {
  height: 48px;
  border-radius: 8px;
  background-color: var(--mygray-20);
}

.modal-login-header-text {
  color: var(--mygray);
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 !important;
  padding: 0;
  line-height: 1;
}

.modal-login-right .btn-close {
  z-index: 999;
  position: relative;
  font-size: 10px !important;
  color: black !important;
  opacity: 1 !important;
}

.modal-login-title {
  font-weight: bold;
  margin-bottom: 16px !important;
  text-align: center;
}

.btn-primary {
  background-color: var(--myindigo) !important;
  padding: 4px 8px !important;
  border-radius: 8px !important;
  border: 1px solid var(--myindigo) !important;
  color: #fff !important;
  font-weight: bold;
  height: 48px;
  font-weight: bold;
  display: flex;
  vertical-align: middle;
  transition: 800ms;
}

.btn-primary:hover {
  background-color: var(--myindigo-90) !important;
  border: 1px solid var(--myindigo-90) !important;
  transition: 800ms;
}

.modal-login-moremethods {
  display: flex;
}

.modal-login-moremethods hr {
  height: 2px;
  width: auto;
}

.modal-login .form-check-label {
  color: var(--myblack-60)
}

.modal-login-remembertext {
  font-size: 12px;
}

.btn-secondary {
  background-color: white !important;
  padding: 4px 8px !important;
  border-radius: 8px !important;
  border: 1px solid var(--myindigo) !important;
  color: var(--myindigo) !important;
  font-weight: bold;
  height: 48px;
  font-weight: bold;
  display: flex;
  vertical-align: middle;
  transition: 800ms;
}

.btn-secondary:hover {
  background-color: var(--myindigo-10) !important;
  transition: 800ms;
}

.form-check-input:checked {
  background-color: var(--myindigo) !important;
  border-color: var(--myindigo) !important;
}

::placeholder {
  opacity: 0.5 !important; 
}

*:focus {
  box-shadow: 0 0 0 2px var(--myindigo-20) !important;
  border-color: var(--myindigo) !important;
}

.modal-dialog {
  display: block !important;
  align-content: center !important;
}

.modal-login-header-area {
  margin-bottom: 8px;
}