.news-content {
  margin: 64px 0;
}

.news-banner {
  width: 540px;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.banner-yelanguide {
  background-image: url('../../../../assets/backgrounds/events/yelancap.png');
}

.news-article:not(:first-child) {
  padding-top: 16px;
}

.news-article:not(:last-child) {
  border-bottom: 1px solid var(--mygray-20);
  padding-bottom: 16px !important;
}

.news-articles-area {
  padding-right: 16px;
  overflow-y: scroll;
  height: 288px;
  margin-top: 16px;
}

.news-article-top {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.news-article-avatar {
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.news-article-author-name {
  font-size: 16px;
  color: var(--mygray-40);
  padding-left: 4px;
  margin: 0;
}

.news-article-title {
  font-size: 16px;
  font-weight: bold;
  color: var(--mygray-80);
}

.news-article-description {
  font-size: 16px;
  font-weight: lighter;
  color: var(--mygray-60);
}

.news-article a {
  font-size: 16px;
  margin-top: 8px !important;
}

.news-banner-avatar {
  background-color: pink;
  width: 48px;
  height: 48px;
}

.news-banner-title {
  
}