.news-content {
  margin: 64px 0;
}

.news-banner {
  width: 540px;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.banner-yelanguide {
  background-image: url('../../../../assets/backgrounds/events/yelancap.png');
}

.news-banner.carousel-item {
  width: 540px !important;
  height: 300px !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 16px !important;
}

.news-banner img {
  border-radius: 16px !important;
  overflow: hidden;
}

#carouselNews {
  width: 540px !important;
  height: 300px !important;
}

.carousel-shadow-bottom {
  background: linear-gradient(0deg, #181818 0, hsla(0, 0%, 9%, .987) 8%, hsla(0, 0%, 9%, .951) 12%, hsla(0, 0%, 9%, .896) 16%, hsla(0, 0%, 9%, .825) 20%, hsla(0, 0%, 9%, .741) 24%, hsla(0, 0%, 9%, .648) 28%, hsla(0, 0%, 9%, .55) 32%, hsla(0, 0%, 9%, .45) 36%, hsla(0, 0%, 9%, .352) 40%, hsla(0, 0%, 9%, .259) 44%, hsla(0, 0%, 9%, .175) 48%, hsla(0, 0%, 9%, .104) 52%, hsla(0, 0%, 9%, .049) 56%, hsla(0, 0%, 9%, .013) 60%, hsla(0, 0%, 9%, 0) 64%);
  position: absolute;
  height: 340px !important;
  width: 540px !important;
  z-index: 1;
  margin-top: -340px;
  border-radius: 16px;
}

.news-article:not(:first-child) {
  padding-top: 16px;
}

.news-article:not(:last-child) {
  border-bottom: 1px solid var(--mygray-20);
  padding-bottom: 16px !important;
}

.news-articles-area {
  padding-right: 16px;
  overflow-y: scroll;
  height: 400px;
  margin-top: 16px;
}

.news-article-top {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.news-article-avatar {
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2px;
}

.news-article-author-name {
  font-size: 16px;
  color: var(--mygray-40);
  padding-left: 4px;
  margin: 0;
}

.news-article-title {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 4px !important;
  font-weight: bold;
  color: var(--mygray-80);
}

.news-article-description {
  font-size: 16px;
  font-weight: lighter;
  color: var(--mygray-60);
  max-height: 48px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
}

.news-article a {
  font-size: 16px;
  margin-top: 8px !important;
}

.news-banner-avatar {
  border-radius: 4px;
  border: 1px solid var(--mygray-40);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.news-banner-title {
  font-size: 20px;
  font-weight: bold;
  padding-left: 8px;
  margin: 0 !important;
}

.news-banner-name {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.news-banner-award {
  display: flex;
  align-items: center;
  background-color: var(--myyellow-20);
  box-shadow: 0px 0px 24px 8px var(--myyellow-10);
  color: var(--myyellow);
  border-radius: 4px;
  padding: 12px 16px;
  width: 100%;
  margin: 8px 0;
  transition: 800ms;
}

.news-banner-award-text {
  line-height: 1;
  margin: 0 !important;
  padding-left: 8px;
  text-shadow: var(--myyellow-80) 0px 0px 24px;
}

.news-banner-award:hover {
  background-color: var(--myyellow);
  color: var(--myblack) !important;
  box-shadow: 0px 0px 24px 8px var(--myyellow-60);
  cursor: pointer;
  transition: 800ms;
}

.news-article .main-link {
  justify-content: left !important;
  padding: 0 !important;
  min-height: 24px !important;
  max-height: 24px !important;
}